<%= form_for :session, url: session_path, html: {id: "new_session"}, remote: true do |form| %>
  <div class="text-field">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'text' %>
  </div>

  <div class="password-field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="user-error"></div>

  <div class="submit-field">
    <%= form.submit %>
  </div>

  <div class="other-links">
    <%= link_to 'Not a member?', sign_up_path %> <br>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
<% end %>
