<% @listings.each do |l| %>
	<div>
		<% l.images.each do |img| %>
			<%= image_tag img.url(:thumb) %>
		<% end %>
	</div>
	<p>Owner: <%= l.user.first_name + ' ' + l.user.last_name %> </p>
	<p>Title: <%= l.title %> </p>
	<p>Description: <%= l.description %> </p>
	<p>Price: <%= l.price %> </p>
	<p>Address: <%= l.street_address + ', ' + l.postcode + ' ' + l.city + ', ' + l.country %> </p>
	<p>Type: <%= l.home_type %> </p>
	<p>Room type: <%= l.room_type %> </p>
	<p>Number of Bedrooms: <%= l.bedroom %> </p>
	<p>Number of Bathrooms: <%= l.bathroom %> </p>
	<p>Accommodates: <%= l.accommodate %> guest(s) </p>
	<p>Tags:</p>
	<ul>
		<% l.tags.each do |elm| %>
		<li> <%= elm.tag_name %> </li>
		<% end %>
	</ul>
	<%= link_to 'Book now', new_listing_reservation_path(l) %>
	<%= link_to 'Edit listing', edit_user_listing_path(current_user, l) if l.user.id == current_user.id %>
	<%= link_to 'Remove listing', user_listing_path(current_user, l), method: :delete if l.user.id == current_user.id %>
	<hr>
<% end %>