<div class="col-md-10 col-md-offset-2">
	<div class="col-md-offset-2">
		<% selected_listing = Listing.find_by(id: params[:listing_id]) %>
		<h3><%= selected_listing.title %></h3>
		<p><%= selected_listing.street_address + ', ' + selected_listing.postcode + ' ' + selected_listing.city + ', ' + selected_listing.country %></p>
		<p>Contact the owner: <%= mail_to selected_listing.user.email, selected_listing.user.first_name + ' ' + selected_listing.user.last_name %> </p>
	</div>
	<%= form_for @reservation, url: listing_reservation_path, html: { class: 'form-horizontal col-md-8 col-md-offset-2' } do |f| %>
		<%= render partial: '/reservations/form', locals: {f: f}%>
	<% end %>
</div>